html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
	margin:0;
	padding:0;
  font-family: Hiragino Sans GB,Arial,Helvetica,\\5B8B\4F53,sans-serif;
  -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
em {
	font-style:normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

caption, th {
  text-align: left;
}

:link, :visited {
  text-decoration: none;
}

a, input {
  outline: none;
}

a:focus, a:active, a:hover {
  outline: 0;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="password"],
button, textarea {
  outline: 0 none;
  border: 0 none;
  padding: 0;
}
::-webkit-search-cancel-button {
  display:none;
}
i {
  font-style: normal;
}
.f-dn {
	display:none!important;
}
.f-vh {
	visibility:hidden!important;
}
.f-fl{
	float:left;
}
.f-fr {
	float:right;
}
/*.f-clearfix:before,.f-clearfix:after {
  content:'';
  display:table;      
}*/
.f-clearfix:after {
  content:'';
  display:table;
  clear:both;
  overflow:hidden;
}
/*.f-clearfix {
  *zoom:1;  
}*/

.ellipsis{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.page {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:#fff;
  z-index:100;
}
/* 动画 */
.slide-enter-active,
.slide-leave-active {
  transition:all .4s;
}
.slide-enter,
.slide-leave-to {
  transform:translate3d(100%,0,0)
}
.top-enter-active,
.top-leave-active {
  transition:all .4s;
}
.top-enter,
.top-leave-to {
  transform:translate3d(0,-100%,0)
}